body {
    background-color: rgb(20, 50, 100);

    color: white;
    font-size: 16px;
}

#clickButton 
#ui_box {
    background-color: #7892c2;
	border-radius: 5px;

	color: #ffffff;

	font-family: Impact;
	font-size:  2em;
	font-weight: bold;

	padding: 32px 64px;

    transition: background-color 0.25s;
}
#clickButton:hover
#ui_box:hover {
	background-color: #476e9e;
}