body {
    background-color: rgb(20, 50, 100);

    color: white;
    font-size: 16px;
}

.version {
	opacity: 0.5;
}

#clickButton {
    background-color: #7892c2;
	border-radius: 5px;

	cursor: pointer;
	color: white;

	font-family: Impact;
	font-size:  2em;
	font-weight: bold;

	padding: 32px 64px;

    transition: background-color 0.25s;
}
#clickButton:hover {
	background-color: #476e9e;
}